.header {
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
}

.header h2 {
    font-size: 24px;
    color: #1f2937;
}

.header p {
    color: #6b7280;
    margin-top: 5px;
}

.header-right {
    color: #6b7280;
}